<div class="card">
    <div class="card-header">
        {{user.nickname}}
    </div>
    <div class="card-body">
      <table>
          <tr>
              <th>
                  <p>
                      Travels: 
                  </p>
              </th>
              <th>
                  <p>
                    {{user.travelCost}} €
                  </p>
              </th>
          </tr>
          <tr>
              <th>
                  <p>
                      Accommodations:
                  </p>
              </th>
              <th>
                  <p>
                    {{user.accommodationCost}} €
                  </p>
              </th>
          </tr>
          <tr>
              <th>
                  <p>
                      Outgoings:
                  </p>
              </th>
              <th>
                  <p>
                    {{user.outgoingsCost}} €
                  </p>
              </th>
          </tr>
          <tr>
              <th>
                  <p>
                      Total:
                  </p>
              </th>
              <th>
                  <p>
                    {{user.totalCost}} €
                  </p>
              </th>
          </tr>
      </table>
    </div>
  </div>