<div class="card">
    <div class="card-header">
        {{user.nickname}}
    </div>
    <div class="card-body">
      <table>
          <tr>
              <th>
                      Travels: 
              </th>
              <th>
                    {{travels}} €
              </th>
          </tr>
          <tr>
              <th>
                      Accommodations:
              </th>
              <th>
                    {{accommodations}} €
              </th>
          </tr>
          <tr>
              <th>
                      Outgoings:
              </th>
              <th>
                    {{outgoings}} €
              </th>
          </tr>
          <tr>
              <th>
                      Total:
              </th>
              <th>
                    {{total}} €
              </th>
          </tr>
      </table>
    </div>
  </div>