.card:hover {
    background-color: #008BC4;
    cursor: pointer;
    transition: .6s;
    color: white;
}

.card {
    transition: .6s;
    margin: 10px;
    max-width: 18vw;
    margin-left: auto;
    margin-right: auto;
}

th {
    width: 6.66vw;
    text-align: center;
}
