<body>
    <table>
        <tr>
            <th>
                <h1>
                    My trips in progress
                </h1>
                <div class="myTripsInProgressContainer">
                    <div class="cards" *ngFor="let item of myTripsInProgress">
                        <div class="animate__animated animate__flipInX animate__delay-.5s" (click)="navigateToCustomizeById(item.id)">
                            <app-trip-card [trip]="item"></app-trip-card>
                        </div>
                    </div>
                </div>
            </th>
            <th>
                <h1>
                    My trips
                </h1>
                <div class="myFutureTripsContainer">
                    <div class="cards" *ngFor="let item of myFutureTrips">
                        <div class="animate__animated animate__flipInX animate__delay-.5s" (click)="navigateToCustomizeById(item.id)">
                            <app-trip-card [trip]="item"></app-trip-card>
                        </div>
                    </div>
                </div>
            </th>
        </tr>
    </table>
</body>