<header>
  <nav class="navbar sticky-top navbar-expand-lg navbar-dark">
    <a class="navbar-brand" [routerLink]="['/']">MyTravelBook</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/']">Home<span class="sr-only">(current)</span></a>
        </li>
        <div class="loggedIn" *ngIf="(isAuthenticated | async)">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" [routerLink]="['/my-trips']">My trips<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" [routerLink]="['/create-new-trip']">New trip<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" [routerLink]="['/friends']">Friends<span class="sr-only">(current)</span></a>
            </li>
          </ul>
          
        </div>
        
      </ul>
      <div id="notLoggedIn">
        <div
        class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
        [ngClass]="{ show: isExpanded }"
      >
        <app-login-menu></app-login-menu>
        <ul class="navbar-nav flex-grow">
          <li
            class="nav-item"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }">
          </li>
        </ul>
      </div>
      </div>
    </div>
  </nav>
</header>
